.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.split-container {
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
  min-height: 100vh;
}

.split-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  text-align: start;
}

.split-left-container {
  width: 70%;
  align-items: flex-start;
}
.split-right {
  width: 80%;
}

.title {
  margin-bottom: 0;
  font-size: 4rem;
  font-weight: bold;
}

.caption {
  font-size: 1rem;
  color: lightgray;
}

.button {
  margin-top: 5%;
}

.aggregator {
  color: crimson;
}
